*,html,body{
  margin:0;
  padding:0;
  box-sizing: border-box;

}
body{

  overflow-x: hidden !important;
  width: 100%;
  height: 100%;
  position: fixed;
}


nav{
  border: 1px solid red;
  width: 100%;
  height: 60px;

  .logo{
    font-size: 40px;
    margin-top: 5px;
    letter-spacing: 3px;
    margin-left: 40px;
  }

  ul{

    width: 150px;
    position: absolute;
    height: 100vh;
    right: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    overflow-y: hidden;
    transition: 300ms ease;


    li{

      list-style: none;
      text-decoration: none;
      font-size: 15px;
      text-transform: uppercase;
      letter-spacing: 1px;
      font-weight: 500;
      margin-top: 40px;
      opacity: 1;
    }
  }
  i{
    position: absolute;
    right: 60px;
    top: 10px;
    font-size: 40px;
    z-index: 10;
  }

}
.nav-bar-container{
  overflow-x: hidden;
}


.navbar-close{
  right: -170px;
  opacity: 0
}
