div.form-container{
  background-image: linear-gradient(to right, rgba(2.75%, 6.67%, 10.20%, 1.00) 150px, rgba(14.12%, 20.78%, 27.06%, 0.84) 100%);

  height: 140px;
  margin: 0 auto;
  position:relative;

  form{

    label{
    }
    input.search{
      height: 36px;
      width: 60%;
      margin-left: 80px;
      margin-top: 60px;
      color:rgba(0,0,0,0.5);
      border-radius: 30px;
      outline: none;
      border: 1px solid black;
      font-size:15px;
      padding: 10px 20px;

    }
    input.submit{
      border: 1px solid black;
      height: 36px;
      width: 80px;
      border-radius: 30px;
      outline: none;
      position: absolute;
      top: 60px;
      right: 25%;
      cursor: pointer;
      background-color: white;

    }
  }
}
div.movie-search-container{
  display: flex;
  justify-content: center;
  align-items:center;
  padding: 5px;
  width: 97%;
  margin-bottom: 10px;
  border: 1px solid grey;
  border-radius: 5px;
  box-shadow: 0px 2px 8px rgba(0,0,0,0.1);
  margin: 10px;

  img{
    margin: 5px;
    width: 100px;
    height: 130px;
    border-radius: 5px;
  }
}
